<!doctype html>
<html>

<head>
    <title> Menu </title>
    <meta charset='UTF-8'>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <h2>餐廳列表</h2>
    <form action="/get_menu/" method="get">
        <p>您現在的位置在{{ path }}</p>
        <table>
            <tr>
                <th>選取</th>
                <th>店名</th>
                <th>電話</th>
                <th>地址</th>
            </tr>
            {% for r in restaurants %}
            <tr>
                <td> <input type="radio" name="id" value="{{r.id}}"> </td>
                <td>{{ r.name }}</td>
                <td>{{ r.phone_number }}</td>
                <td>{{ r.address }}</td>
                <!-- {% if r.food_set.all %}
                <p>本餐廳共有{{ r.food_set.all|length }}道菜</p>
                <table>
                    <tr>
                        <th>菜名</th>
                        <th>價格</th>
                        <th>註解</th>
                        <th>辣不辣</th>
                    </tr>
                {% for food in r.food_set.all %}
                    <tr>
                        <td> {{ food.name }} </td>
                        <td> {{ food.price }} </td>
                        <td> {{ food.comment }} </td>
                        <td> {% if food.is_spicy %} 辣 {% else %} 不辣 {% endif %} </td>
                    </tr>
                {% endfor %}
                </table>
            {% else %}
                <p>本餐廳啥都沒賣</p>
            {% endif %} -->
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="觀看menu">
    </form>
</body>

</html>