<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Welcome </title>
    </head>
    <body>
        <form action="/welcome/" method="get">
        <!-- 點擊後到哪個function進而決定到哪個頁面 -->
            <label for="user_name">您的名字</label>
            <input id="user_name" type="text" name="user_name"> 
            <!-- get表單值是用input name當作變數傳遞 -->
            <input type="submit" value="進入網站">
            <!-- value是顯示在button上的值 -->
        </form>
    </body>
</html>